<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeHandlers>
        <typeHandler handler="university.market.member.mapper.UniversityTypeHandler" javaType="university.market.member.domain.university.UniversityType"/>
        <typeHandler handler="university.market.member.mapper.AuthTypeHandler" javaType="university.market.member.domain.auth.AuthType"/>
    </typeHandlers>
</configuration>
