<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="university.market.dibs.mapper.DibsMapper">

    <resultMap id="DibsResultMap" type="university.market.dibs.domain.DibsVO">
        <id property="id" column="id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

        <association property="member" javaType="university.market.member.domain.MemberVO">
            <id property="id" column="member_id"/>
            <result property="name" column="member_name"/>
            <result property="email" column="member_email"/>
            <result property="university" column="member_university"/>
        </association>

        <association property="item" javaType="university.market.item.domain.ItemVO">
            <id property="id" column="item_id"/>
            <result property="title" column="item_title"/>
            <result property="description" column="item_description"/>
            <result property="imageUrl" column="item_image_url"/>
            <result property="status" column="item_status"/>
            <result property="auction" column="item_auction"/>
            <result property="price" column="item_price"/>
            <result property="createdAt" column="item_created_at"/>
            <result property="updatedAt" column="item_updated_at"/>

            <association property="seller" javaType="university.market.member.domain.MemberVO">
                <id property="id" column="seller_id"/>
                <result property="name" column="seller_name"/>
                <result property="email" column="seller_email"/>
                <result property="university" column="seller_university"/>
            </association>
        </association>
    </resultMap>

    <insert id="addDibs" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dibs (member, item, created_at, updated_at)
        VALUES (#{member.id}, #{item.id}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <delete id="removeDibs">
        DELETE FROM dibs
        WHERE id = #{dibsId}
    </delete>

    <select id="getDibsByMemberId" resultMap="DibsResultMap">
        SELECT d.*, m.id AS member_id, m.name AS member_name, m.email AS member_email, m.university AS member_university,
               i.id AS item_id, i.title AS item_title, i.description AS item_description, i.image_url AS item_image_url,
               i.status AS item_status, i.auction AS item_auction, i.price AS item_price, i.created_at AS item_created_at,
               i.updated_at AS item_updated_at,
               m.id AS seller_id, m.name AS seller_name, m.email AS seller_email, m.university AS seller_university
        FROM dibs d
            JOIN member m ON d.member = m.id
            JOIN item i ON d.item = i.id
        WHERE m.id = #{memberId}
    </select>

</mapper>
