<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="university.market.chat.room.mapper.ChatMemberMapper">

    <resultMap id="ChatMemberResultMap" type="university.market.chat.room.domain.ChatMemberVO">
        <id property="id" column="id"/>
        <result property="chatAuth" column="chat_auth"/>
        <result property="lastReadAt" column="last_read_at"/>
        <result property="createdAt" column="created_at"/>

        <association property="member" javaType="university.market.member.domain.MemberVO">
            <id property="id" column="member_id"/>
            <result property="name" column="member_name"/>
            <result property="email" column="member_email"/>
            <result property="university" column="member_university"/>
        </association>

        <association property="chat" javaType="university.market.chat.room.domain.ChatVO">
            <id property="id" column="chat_id"/>
            <result property="title" column="chat_title"/>
            <result property="createdAt" column="chat_created_at"/>
            <result property="updatedAt" column="chat_updated_at"/>

            <association property="item" javaType="university.market.item.domain.ItemVO">
                <id property="id" column="item_id"/>
                <result property="title" column="item_title"/>
                <result property="description" column="item_description"/>
                <result property="imageUrl" column="item_image_url"/>
                <result property="status" column="item_status"/>
                <result property="auction" column="item_auction"/>
                <result property="price" column="item_price"/>
                <result property="createdAt" column="item_created_at"/>
                <result property="updatedAt" column="item_updated_at"/>

                <association property="seller" javaType="university.market.member.domain.MemberVO">
                    <id property="id" column="seller_id"/>
                    <result property="name" column="seller_name"/>
                    <result property="email" column="seller_email"/>
                    <result property="university" column="seller_university"/>
                </association>
            </association>
        </association>
    </resultMap>

    <insert id="addMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chat_member (chat, member, chat_auth, last_read_at, created_at)
        VALUES (#{chat.id}, #{member.id}, #{chatAuth}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <select id="getChatsByMember" resultMap="ChatMemberResultMap">
        SELECT cm.*,
               m.name        AS member_name,
               m.email       AS member_email,
               m.university  AS member_university,
               c.title       AS chat_title,
               c.created_at  AS chat_created_at,
               c.updated_at  AS chat_updated_at,
               i.id          AS item_id,
               i.title       AS item_title,
               i.description AS item_description,
               i.image_url   AS item_image_url,
               i.status      AS item_status,
               i.auction     AS item_auction,
               i.price       AS item_price,
               i.created_at  AS item_created_at,
               i.updated_at  AS item_updated_at,
               s.id          AS seller_id,
               s.name        AS seller_name,
               s.email       AS seller_email,
               s.university  AS seller_university
        FROM chat_member cm
                 JOIN member m ON cm.member = m.id
                 JOIN chat c ON cm.chat = c.id
                 JOIN item i ON c.item = i.id
                 JOIN member s ON i.seller = s.id
        WHERE cm.member = #{memberId}
    </select>

    <update id="updateLastReadAt">
        UPDATE chat_member
        SET last_read_at = #{lastReadAt}
        WHERE chat = #{chatId}
          AND member = #{memberId}
    </update>

    <select id="getMembersByChat" resultMap="ChatMemberResultMap">
        SELECT cm.*,
               m.name        AS member_name,
               m.email       AS member_email,
               m.university  AS member_university,
               c.title       AS chat_title,
               c.created_at  AS chat_created_at,
               c.updated_at  AS chat_updated_at,
               i.id          AS item_id,
               i.title       AS item_title,
               i.description AS item_description,
               i.image_url   AS item_image_url,
               i.status      AS item_status,
               i.auction     AS item_auction,
               i.price       AS item_price,
               i.created_at  AS item_created_at,
               i.updated_at  AS item_updated_at,
               s.id          AS seller_id,
               s.name        AS seller_name,
               s.email       AS seller_email,
               s.university  AS seller_university
        FROM chat_member cm
                 JOIN member m ON cm.member = m.id
                 JOIN chat c ON cm.chat = c.id
                 JOIN item i ON c.item = i.id
                 JOIN member s ON i.seller = s.id
        WHERE cm.chat = #{chatId}
    </select>

    <select id="getChatMemberByChatAndMember" resultMap="ChatMemberResultMap">
        SELECT cm.*,
               m.name        AS member_name,
               m.email       AS member_email,
               m.university  AS member_university,
               c.title       AS chat_title,
               c.created_at  AS chat_created_at,
               c.updated_at  AS chat_updated_at,
               i.id          AS item_id,
               i.title       AS item_title,
               i.description AS item_description,
               i.image_url   AS item_image_url,
               i.status      AS item_status,
               i.auction     AS item_auction,
               i.price       AS item_price,
               i.created_at  AS item_created_at,
               i.updated_at  AS item_updated_at,
               s.id          AS seller_id,
               s.name        AS seller_name,
               s.email       AS seller_email,
               s.university  AS seller_university
        FROM chat_member cm
                 JOIN member m ON cm.member = m.id
                 JOIN chat c ON cm.chat = c.id
                 JOIN item i ON c.item = i.id
                 JOIN member s ON i.seller = s.id
        WHERE cm.chat = #{chatId}
          AND cm.member = #{memberId}
    </select>

    <delete id="deleteMember">
        DELETE
        FROM chat_member ch
        WHERE ch.chat = #{chatId}
          AND ch.member = #{memberId}
    </delete>
</mapper>
